- @title = @schedule.title

#schedule{name:'schedule'}
  %h2= @schedule.title
  %h3= link_to @schedule.organization, schedule_organization_path(:id => @schedule.id)
  
  %p
    2012年11月10日土曜日
    %br
    = time_range_of_schedule @schedule

  %h3 内容
  = render partial:@schedule.abstract_template if @schedule.abstract_template

= link_to '戻る', schedule_index_path