.credit
  %h3 デジコミュ秋田 2012 実行委員会  
  %h4 実行委員長
  .indent1  
    %table
      %tr
        %td= image_tag @chairperson.image_url if @chairperson.image_url
        %td= @chairperson.name
  %h4 実行委員
  .indent1  
    %table
      - @staffs.each do |staff|
        %tr
          %td= image_tag staff.image_url if staff.image_url
          %td= staff.name
  %h4 Special Thanks
  .indent1  
    %table
      - @contributors.each do |controbutor|
        %tr
          %td= image_tag controbutor.image_url if controbutor.image_url
          %td= controbutor.name
          %td= controbutor.message
