- @page_title = 'デジコミュ秋田 2012'
#copy.hero-unit
  %h1
    デジコミュ秋田 2012
  .sheep-space.pull-right
  %p
    秋田県内のITコミュニティ、Akita Ruby Meeting(秋田Rubyお楽しみ会)、JAGA(日本Androidの会秋田支部)、Akita.mが同日開催されます。
    %br
    %hr
    %a.btn.btn-large.btn-primary{:href => 'http://digicommu-akita.doorkeeper.jp/events/1855'} 
      本編参加登録 »

#aim{name:'aim'}
  %h2 趣旨
  .indent1
    %p
      近年、秋田県内のITに関するコミュニティーが盛んになりつつあります。
      %br
      デジコミュ秋田 2012では、そのコミュニティーが一堂に会し同日開催されます。それぞれのコミュニティーの活動内容を知る機会と、お互いの交流を深める機会とし、コミュニティーの更なる継続、向上、発展につがる事を期待します。
      %br
      既にコミュニティーに参加されている方、日頃関心を寄せ頂いている方には、ぜひこの機会にご参加いただければと思います。
      皆様のご参加を心からお待ちしております。
      %br
    
   
%hr

#theme
  %h2 テーマ
  %h3 「知る」
  .indent1
    %p
      デジコミュ秋田 2012は、各コミュニティの事、活動内容を知ってもらう機会として開催します。
      %br
      各コミュニティーの目的、目標は様々と思いますが、その中には自分の知らない事を知る、人を知るという事があると思います。
      %br
      デジコミュ秋田 2012に参加された皆様が、何か一つでも新しい気づき(知る)に出会える場になればと考えています。
      %br

%hr

.split
  .split_left
    #overview{name:'overview'}

      %h2 概要
      %table
        %tr
          %th 日時
          %td 2012年11月10日(土)<br />会場 9:30 - 退場 18:00
        %tr
          %th 会場
          %td #{link_to '秋田県産業技術センター', 'http://www.akita-iri.pref.akita.jp'}<br />秋田県秋田市新屋町字砂奴寄4-11  
        %tr
          %th 主催
          %td デジコミュ秋田 2012実行委員会  
        %tr
          %th 参加コミュニティ 
          %td #{link_to 'JAGA(日本Androidの会秋田支部)', '/schedule/organization?id=13%3A00'}<br />#{link_to 'Akita.m', '/schedule/organization?id=15%3A00'}<br />#{link_to 'Akita Ruby Meeting(秋田Rubyお楽しみ会)', '/schedule/organization?id=10%3A15'}
        %tr
          %th 参加費
          %td 全日 1,000円<br />午前のみ 300円
        %tr
          %th{ rowspan:3 } 懇親会
          %td #{link_to "Radio's Bar", "http://www.shukanren.com/member/association_member_info/radiosbar.html"}<br />秋田県秋田市大町5-2-40<br />
        %tr 
          %td 会費 4,000円
        %tr
          %td 懇親会のみの参加も可能です
      .indent1
        %br
        %font{color:'green'}
          %ul
            %li 会場には普段着でお越し下さい。
            %li 昼食は近くにお食事処が少ないため車を利用するか、予めコンビニで購入したり手作り弁当を持参するなどして下さい。
            %li 自販機はあります。


  .split_right
    .registration
      %h3 参加登録
      %a.btn.btn-large.btn-block.btn-primary{:href => 'http://digicommu-akita.doorkeeper.jp/events/1855'} 
        %i.icon-edit.icon-white
        本編参加
      %a.btn.btn-large.btn-block{:href => 'http://digicommu-akita.doorkeeper.jp/events/1856'} 懇親会参加
      %a.btn.btn-large.btn-block{:href => '/articles/show?id=lt'} ライトニングトークス応募

.reset
#article{name:'articles'}
  %h3 最新情報
  - @articles.each do |article|
    %p #{link_to article.title, articles_show_path(:id => article.id) } (#{l article.created_at, :format => :default})

.reset
