.hero-unit
  .text-center
    %h1 デジコミュ秋田 2014
  .text-center
    %h2 2014年11月22日(土曜日)
    #{link_to "参加申し込み", "http://digicommu-akita.doorkeeper.jp/events/14537", class:"btn btn-primary", target:"_blank"}
    #{link_to "ライトニングトークス申し込み", "https://docs.google.com/spreadsheet/viewform?formkey=dHM1dUd1WUNtRmZyVXZCbWRpSVlqdUE6MA#gid=0", class:"btn btn-primary", target:"_blank"}

.row
  .span1
  .span11
    %p
      デジコミュ秋田は、県内で活動しているITコミュニティーが一堂に会し同日開催する事を目的として始めたイベントで2012年に開始しました。
      %br
    %p
      3回目となる2014では、秋田4コママンガソンも平行して行われる初のマルチセッション形式で開催します。
      %br
      ITのみならず、マンガを通して秋田の事を考えてみませんか？
      %br

    %p
      懇親会は昨年に引き続きビアバッシュ形式で行います。
      %br
      軽食は用意しますので、ビール等の飲み物は自分の好きな物を持ち寄って下さい。
      %br
      この中でライトニングトークスも開催します。ライトニングトークスの発表者、ドラ娘、タイマー係も募集してます。
    %p
      = "　　"
      = link_to "ライトニングトークスについて", "http://d.hatena.ne.jp/keyword/%A5%E9%A5%A4%A5%C8%A5%CB%A5%F3%A5%B0%A5%C8%A1%BC%A5%AF", target:"_blank"
    %p
      皆様のご参加を心からお待ちしております。
      %br


%h2
  .text-center 要項
.row
  .span2

  .span10

    %table.table.table-striped.table-bordered
      %tr
        %th 日時
        %td 2014年11月22日(土)<br />開場 9:30 - 退場 20:30
      %tr
        %th 会場
        %td #{link_to '秋田市にぎわい交流館AU（あう）', 'http://www.akita-nigiwai-au.jp'}<br />秋田県秋田市 中通一丁目4番1号
      %tr
        %th 主催
        %td デジコミュ秋田 2014実行委員会
      %tr
        %th 参加コミュニティ/プレゼンテーター/協賛
        %td
          #{link_to 'Akita Ruby Meeting(秋田Rubyお楽しみ会)', 'https://github.com/katsuyoshi/AkitaRubyMeeting/wiki'}
          %br
          #{link_to '株式会社ゼロニウム', 'http://www.zeronium.com'}
          %br
          #{link_to 'JAWS-UG 秋田支部', 'http://jaws-ug.jp/bc/akita/'}
          %br
          #{link_to 'スタジオアットテイク', 'http://studioat-take.blogspot.jp'}
          %br
          #{link_to '佐藤家', 'http://satoke.exblog.jp'}
          %br
          #{link_to 'JAGA(日本Androidの会秋田支部)', 'http://www.android-group.jp/index.php?%A5%EF%A1%BC%A5%AD%A5%F3%A5%B0%A5%B0%A5%EB%A1%BC%A5%D7%2F%BD%A9%C5%C4%BB%D9%C9%F4'}
          %br
          #{link_to 'Akita.m', 'https://github.com/katsuyoshi/Akita.m/wiki'}
          %br
          #{link_to "ANOG (Akita Network Operators' Group)", 'http://anog.info'}
          %br
          #{link_to 'FEJ秋田', 'http://fandroid-ej.org/info/'}
      %tr
        %th 定員
        %td 50名
      %tr
        %th 参加費
        %td
          本編(10:00-17:00)
          %br
          　　一般 1,000円
          %br
          　　小・中・高校生・学生 無料
          %br
          %br
          懇親会 (17:30 - 20:30)
          %br
          　懇親会のみの参加も可能です
          %br
          　お酒の席ですので基本一般、学生のみが対象です。
          %br
          　　一般、学生のみ　1,500円
          %br
          .text-right
            #{link_to "参加申し込み", "http://digicommu-akita.doorkeeper.jp/events/14537", class:"btn btn-primary", target:"_blank"}
      %tr
        %td タグ
        %td #dcakita
      %tr
        %td{colspan:"2"}
          %font{color:"green"} 会場には普段着でお越し下さい。



%h2
  .text-center タイムテーブル

.row
  .span2

  .span10


    %table.table.table-striped.table-bordered
      %tr
        %th{width:"20%"} 時間帯
        %th{width:"40%"} 会場1
        %th{width:"40%"} 会場2
      - @timelines.each do |timeline|
        %tr
          %td #{timeline["slot"]}
          - if timeline["all"]
            - room = timeline["all"]
            - presentation = room["presentations"].first
            %td{colspan:2}
              - if presentation
                .text-left
                  #{presentation["title"]}
                - if presentation["association"]
                  .text-right
                    #{presentation["association"]}
                - if presentation["speaker"]
                  .text-right
                    #{presentation["speaker"]}
                - if /ビアバッシュ/ =~ presentation["title"]
                  .text-right
                    #{link_to "ライトニングトークスに申し込む", "https://docs.google.com/spreadsheet/viewform?formkey=dHM1dUd1WUNtRmZyVXZCbWRpSVlqdUE6MA#gid=0", class:"btn btn-primary", target:"_blank"}
          - else
            - %w(会場1 会場2).each do |room_name|
              - room = timeline[room_name]
              %td
                - if room
                  - room["presentations"].each_with_index do |presentation, index|
                    .text-left
                      - if presentation["summary"]
                        = link_to presentation["title"], welcome_show_path(slot:timeline["slot"], room_name:room_name, index:index)
                      - else
                        #{presentation["title"]}
                    - if presentation["association"]
                      .text-right
                        #{presentation["association"]}
                    - if presentation["speaker"]
                      .text-right
                        #{presentation["speaker"]}

