%div#copy
  %p
    秋田県内のITコミュニティ、Akita Ruby Meeting(秋田Rubyお楽しみ会)、JAGA(日本Androidの会秋田支部)、Akita.mが同日開催されます。
    %br

#aim{name:'aim'}
  %h2 趣旨
  %p
    近年、秋田県内のITに関するコミュニティーが盛んになりつつあります。
    %br
    デジコミュ秋田 2012では、れぞれのコミュニティーが同日開催されます。それぞれの活動内容を知る機会と、お互いの交流を深める機会とし、コミュニティーの継続、向上、発展につがる事を期待します。
    %br
    既にコミュニティーに参加されている方、日頃関心を寄せ頂いている方には、ぜひこの機会にご参加いただければと思います。
    皆様のご参加を心からお待ちしております。
    %br

#overview{name:'overview'}
  %h2 概要
  %table
    %tr
      %th 日時
      %td 2012年11月10日(土)<br />会場 9:30 - 施 18:00
    %tr
      %th 会場
      %td 秋田県産業技術センター<br />秋田県秋田市新屋町字砂奴寄4-11  
    %tr
      %th 主催
      %td デジコミュ秋田 2012実行委員会  
    %tr
      %th 参加コミュニティ 
      %td #{link_to 'JAGA(日本Androidの会秋田支部)', '/schedule/organization?id=13%3A00'}<br />#{link_to 'Akita.m', '/schedule/organization?id=15%3A00'}<br />#{link_to 'Akita Ruby Meeting(秋田Rubyお楽しみ会)', '/schedule/organization?id=10%3A15'}
    %tr
      %th 参加費
      %td 全日 1,000円<br />午前のみ 300円<br />#{link_to '参加登録はこちらから', 'http://digicommu-akita.doorkeeper.jp/events/1855'}
    %tr
      %th{ rowspan:2 } 懇親会
      %td #{link_to "Radio's Bar", "http://www.shukanren.com/member/association_member_info/radiosbar.html"}<br />秋田県秋田市大町5-2-40<br />#{link_to '参加登録はこちらから', 'http://digicommu-akita.doorkeeper.jp/events/1856'}
    %tr 
      %td 会費 4,000円

#article{name:'articles'}
  %h2 新着
  - @articles.each do |article|
    %p #{link_to article.title, articles_show_path(:id => article.id) } (#{l article.created_at, :format => :default})

.reset
