%h2 タイムスケジュール


%h3 本編

%table.table

  %tr.header
    %th{width:"100px"} 時刻
    %th タイトル
    %th{width:"200px"} 発表者
    %th{width:"150px"} コミュニティ/所属

  %tr.session
    %td 10:00 - 10:05
    %td{colspan:3} オープニング

  %tr.break
    %td 10:05 - 10:10
    %td{colspan:3} 休憩

  = render partial:"schedule_row", locals: { start_at:"10:10", session_id:"s_sato"}
  = render partial:"schedule_row", locals: { start_at:"10:25", session_id:"abe"}

  %tr.break
    %td 10:55 - 11:00
    %td{colspan:3} 休憩
  = render partial:"schedule_row", locals: { start_at:"11:00", session_id:"zeronium"}

  %tr.break
    %td 11:40 - 13:00
    %td{colspan:3} 昼休み
  = render partial:"schedule_row", locals: { start_at:"13:00", session_id:"tsujimotter"}

  %tr.break
    %td 14:30 - 14:35
    %td{colspan:3} 休憩
  = render partial:"schedule_row", locals: { start_at:"14:35", session_id:"takeda"}

  %tr.break
    %td 15:35 - 16:00
    %td{colspan:3} コーヒーブレイク
  = render partial:"schedule_row", locals: { start_at:"16:00", session_id:"dzo"}

%h3 ビアバッシュ

%table.table

  %tr.header
    %th{width:"100px"} 時刻
    %th タイトル
    %th{width:"200px"} 発表者
    %th{width:"150px"} コミュニティ/所属

  %tr.session
    %td 17:45 -
    %td{colspan:3} 開始

  = render partial:"schedule_row", locals: { start_at:"18:15", session_id:"ingres"}

  %tr.session
    %td 18:45 - 17:00
    %td{colspan:3} 歓談

  %tr.session
    %td 19:00 - 20:00
    %td{colspan:3}
      %h4
        ライトニングトークス

  %tr.session
    %td 20:00 - 20:30
    %td{colspan:3} 歓談

  %tr.break
    %td 20:30 - 21:00
    %td{colspan:3} 終了 〜 片付け


スケジュールは変更になる場合があります。

