- session = @sessions.find{|s| s["id"] == session_id}
- start_at = Time.new 2015, 11, 14, *(start_at.split(":").map{|e| e.to_i})
- time ||= session["time"] if session
- time ||= 30
- end_at = start_at + time.minutes

%tr.session
  %td
    #{start_at.strftime("%H:%M")} - #{end_at.strftime("%H:%M")}
  - if session
    %td
      - if session['session']['workshop']
        %b 【ワークショップ】
        %br
      %h4
        - title = "#{session['session']['title']}"
        = link_to title, y2015_welcome_show_path(id:session["id"]) if session["session"]
      - slide = "#{session['session']['slide']}"
      - overview = session["session"]["short_overview"] || session["session"]["overview"]
      #{overview}
      - unless slide.blank?
        %span.label.label-info
          = link_to '発表資料', slide, class:"white-link-letter", target:"_blank"
    %td
      #{session["name"]}
    %td
      = session["organization"] || session["title"]
  - else
    %td
    %td
    %td
