.hero-unit
  .text-center
    %h1 デジコミュ秋田 2015
  .text-center
    %h2 2015年11月14日(土曜日) に開催します。
    - held_at = Time.new 2015, 11, 14
    - now = Time.now
    %h3 開催まであと#{((held_at - now) / 1.day).ceil.to_i}日

%h1.text-center 「覚醒」

.summary
  　デジコミュ秋田は、県内で活動しているITコミュニティーが一堂に会して、同日開催する事を目的として2012年に開始したイベントです。
  %br
  今回で4回目の開催になります。テーマは「覚醒」。何か新しい気づきのヒントを得るきっかけとなるイベントになればと思っています。
  %br
  いろんな方が参加し交流することで、新たな覚醒につながると思っています。
  %br
  コミュニティーに関わっているかどうかは関係ありませんし、県内外も問いません。少しでも興味が湧く内容がありましたら、気兼ねなく参加していただければと思います。


%p
  %ul
    %li 日時: 2015年11月14日(土)
    %li 会場: #{link_to '秋田市にぎわい交流館AU（あう）4F(研修室1、研修室2)', 'http://www.akita-nigiwai-au.jp'} 秋田県秋田市 中通一丁目4番1号

= render partial:"sessions"

= render partial:"schedule"


%hr
%p
  その他内容は決まり次第更新します。
  %br
  参加申込は数日中に開始する予定です。
  %br
  #{link_to 'Doorkeeper', 'http://digicommu-akita.doorkeeper.jp/'}に登録いただけると申込開始時にお知らせできます。
  %br