.hero-unit
  .text-center
    %h1 デジコミュ秋田 2015
  .text-center
    %h2 2015年11月14日(土曜日) に開催します。
    - held_at = Time.new 2015, 11, 14
    - now = Time.now
    %h3 開催まであと#{((held_at - now) / 1.day).ceil.to_i}日
    #{link_to "イベント申込み", "https://digicommu-akita.doorkeeper.jp/events/33010", class:"btn btn-primary", target:"_blank"}
    #{link_to "ライトニングトークス申込み", "https://docs.google.com/forms/d/11wpfnwaNyQaIMMUYtdUAD3khPZMCYJB8FKvmIR92Ifk/viewform", class:"btn btn-primary", target:"_blank"}


%h1.text-center 「覚醒」

.summary
  　デジコミュ秋田は、県内で活動しているITコミュニティーが一堂に会して、同日開催する事を目的として2012年に開始したイベントです。
  %br
  今回で4回目の開催になります。テーマは「覚醒」。何か新しい気づきのヒントを得るきっかけとなるイベントになればと思っています。
  %br
  いろんな方が参加し交流することで、新たな覚醒につながると思っています。
  %br
  コミュニティーに関わっているかどうかは関係ありませんし、県内外も問いません。少しでも興味が湧く内容がありましたら、気兼ねなく参加していただければと思います。


.row
  .span2
  .span10
    %p
      %table.table.table-borderless
        %tr
          %th 日時
          %td 2015年11月14日(土)
        %tr
          %th 会場
          %td
            #{link_to '秋田市にぎわい交流館AU（あう）4F(研修室1、研修室2)', 'http://www.akita-nigiwai-au.jp'}
            %br
            秋田県秋田市 中通一丁目4番1号
            %br
            ※) 普段着でおこしください。
        %tr
          %th 参加費
          %td
            　　本　　編　(10:00-17:30) :　一般:2,000円,　学生: 500円,　小中高生: 無料
            %br
            ビアバッシュ　(17:30-20:30) :　一般:1,500円,　学生: 500円,　小中高生のみでの参加はできません。
            %br
            #{link_to "申込み", "https://digicommu-akita.doorkeeper.jp/events/33010", class:"btn btn-primary", target:"_blank"}


    %p
      　イベントは、日中の本編と夕方からのビアバッシュと二部構成になっております。
      %br
      %br
      　ビアバッシュはビール等の自分の好きな飲み物を持ち寄る形式の懇親会です。軽食はこちらで用意いたします。
      %br
      %br
      　ビアバッシュでは例年通りライトニングトークスを開催します。
      %br
      ライトニングトークスのスピーカーを募集しています。(ドラ、タイマー係は決定しました)
      %br
      応募される方はこちらからお申込みください。
      %br
      %br
      = link_to "ライトニングトークス申込み", "https://docs.google.com/forms/d/11wpfnwaNyQaIMMUYtdUAD3khPZMCYJB8FKvmIR92Ifk/viewform", class:"btn btn-primary", target:"_blank"
      %br
      %br
      ライトニングトークスについてはこちらをご覧ください。
      %br
      = link_to "ライトニングトークスについて", "http://d.hatena.ne.jp/keyword/%A5%E9%A5%A4%A5%C8%A5%CB%A5%F3%A5%B0%A5%C8%A1%BC%A5%AF", target:"_blank"
      %br


.row
= render partial:"schedule"


%p
  %br
  %br
  #{link_to "イベント申込み", "https://digicommu-akita.doorkeeper.jp/events/33010", class:"btn btn-primary", target:"_blank"}

