<!DOCTYPE html>
%html
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html;charset=utf-8"}/
    %title= @title || 'デジコミュ秋田2012'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page
      #header
        %h1 デジコミュ秋田 2012
        #navigation
          = render :partial => 'layouts/menu'
      #content
        = yield
