<!DOCTYPE html>
<html>
<head>
  <title>デジコミュ秋田 2014</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial:"layouts/google_analytics" %>
  <!--
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "デジコミュ秋田 2014", '#', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Home",    '#' %></li>
            <li><%= link_to "Help",    '#' %></li>
            <li><%= link_to "Sign in", '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  -->
  <div class="y2014">"
    <div class="container">
      <%= yield %>
      <%= render partial:"layouts/footer" %>
    </div>
  </div>
</body>
</html>
